@import "variables";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "./layout/sidebar";
@import "./layout/container";



.modal-dialog-centered {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }