/* Popup container */
.modal-content {
    width: 800px; /* Adjust width as needed */
    max-width: 100%;
  }
  
  /* Input fields */
  .modal-body .form-group {
    margin-bottom: 20px; /* Adjust spacing between input fields */
  }
  
  /* Label styles */
  .modal-body label {
    font-weight: bold;
  }
  
  /* Button styles */
  .modal-footer .btn {
    min-width: 100px; /* Adjust button width as needed */
  }


  tr{
    border-width:0px !important;
    border-style: none !important;
    border-color: #fff !important;
  }
  thead,th{
    border-width:0px !important;
    border-style: none !important;
    border-color: #fff !important;
    font-size: 14px;

  }

  th{
    border-bottom: 2px solid #fff !important;
    background-color: #3D86C6 !important;
    color:#fff !important
  }


  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    z-index: 9999;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }


  .contentArea .row{
    --bs-gutter-x:0 !important
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  


  .sidebar-open {
    width: 250px;
    transition: width 0.3s;
    z-index: 999999999999999999 !important
  }
  
  .sidebar-closed {
    width: 0;
    transition: width 0.3s;
  }
  
  .sidebarNav {
    overflow: hidden;
    white-space: nowrap;
  }